@use "sass:map";

/*------------------------------------*\
  #SETTINGS-GLOBAL
\*------------------------------------*/

/*
 * Attribut de taille de police appliqué à `<html>` et `<body>`. Nous utilisons 100% par défaut,
 * la valeur est donc héritée des paramètres du navigateur de l'utilisateur.
 */
$font-size: 112.5% !default;

/*
 * Hauteur de ligne par défaut pour tous les types. `$global-lineheight` est 24px alors que
 *`$global-font-size` est 16px
 */
$lineheight: 1.6 !default;

/*
 * Couleurs utilisées pour les boutons, les légendes, les liens, etc.
 * Il doit toujours y avoir une couleur appelée `primary`.
 */
$palette: (
   "primary":(
      "light": (
         color: hsl(322, 100%, 66%),
      ),
   ),
   "neutral": (
      "light": (
         color: hsl(193, 100%, 96%),
      ),
      "dark": (
         color: hsl(192, 100%, 9%),
      ),
   ),
   "gray" : (
      "blue": (
         color: hsl(208, 11%, 55%),
      )
   ),
   "black" : (
      "dark": (
         color: hsl(0, 0%, 0%),
      )
   ),
);

/*
 * Liste de polices du body
 * @type List
 */
$font-family: 'Open Sans', sans-serif !default;


/*
 * Valeur globale utilisée pour la marge sur les composants
 * @type Number
 */
$margin: 1rem !default;

/*
 * Valeur globale utilisée pour le rembourrage des composants
 * @type Number
 */
$padding: 1rem !default;


/*
 * Poids de la police globale utilisée pour les caractères normaux
 * @type Keyword | Number
 */
$weight-normal: 400 !default;

/*
 * Liste de polices du corps.
 * @type List
 */
$body-font-family: $font-family !default;

/*
 * Valeur du curseur du bouton, `auto` par défaut
 * @type Keyword
 */
$button-cursor: auto !default;

/*
 * Arrondi les bords de tout les éléments qui peuvent avoir un bord arrondis.
 * @type Number
 */
$radius: .8rem;
