@use "sass:map";

@use "../settings/global";


.icon{
  width: 1em;
  height: 1em;
}

.icon--link{
  font-size: 1.1em;
}

// Lien avec des icons données
.link-icon {
  display: inline-block;
  height: 1.8em;
  width: 1.8em;
  text-align: center;
  position: relative;
  transition: outline 0.25s ease-out
}

.link-icon--outline{
  outline: solid .1em hsl(193, 100%, 96%);
}

.link-icon > svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 0.25s ease-out;
}

.link-icon--neutral-light > svg{
  fill: hsl(193, 100%, 96%);
}



.link-icon--neutral-light:hover,
.link-icon--neutral-light:focus{
  outline: solid .1rem map.get(global.$palette, "primary", "light", color);
}

.link-icon--neutral-light:hover  > svg,
.link-icon--neutral-light:focus >  svg{
  fill: map.get(global.$palette, "primary", "light", color);
}


