@use "sass:map";

@use "../settings/global";

.header {
  padding-right: 1em;
  padding-left: 1em;
  background: map.get(global.$palette, "neutral", "light", color )  url("../images/bg-hero-mobile.svg");
}

@media (min-width: 1189px) {
  .header {
    padding-right: 2em;
    padding-left: 2em;
    background: map.get(global.$palette, "neutral", "light", color )  url("../images/bg-hero-desktop.svg");
  }
}

@media (min-width: 1402px) {
  .header {
    padding-right: 5em;
    padding-left: 5em;
  }
}

.header__body {
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 600px) {
  .header__body {
    padding-right: 3.5em;
    padding-left: 3.5em;
  }
}

@media (min-width: 950px) {
  .header__text {
    width: 83%;
  }
}

@media (min-width: 1221px) {
  .header__text {
    width: 77%;
  }
}

@media (min-width: 1354px) {
  .header__text{
    width: 53em;
  }
}

@media (min-width: 1401px) {
  .header__text{
    width: 55em;
  }
}

@media (min-width: 1443px) {
  .header__text {
    width: 66%;
  }
}

@media (min-width: 1603px) {
  .header__text{
    width: 48em;
  }
}

@media (min-width: 1689px) {
  .header__text{
    width: 47em;
  }
}

@media (min-width: 1736px) {
  .header__text{
    width: 46em;
  }
}

@media (min-width: 1789px) {
  .header__text{
    width: 44.5em;
  }
}
